In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('a.csv')

In [8]:
df.head()

                                                   A  B
0  Polygon ((100.41370674 38.56406437, 100.413632...  1
1  Polygon ((100.41387467 38.56421145, 100.413750...  2
2  Polygon ((100.40919049 38.56483822, 100.409271...  3
3  Polygon ((100.41287215 38.56624507, 100.412902...  4
4  Polygon ((100.41297341 38.56628901, 100.412955...  5

In [14]:
df.A.str.extract('Polygon \(\((.*)\)\)').loc[:,0].str.split(', ').explode().str.split(' ', expand=True, n=1)

                0            1
0    100.41370674  38.56406437
0    100.41363237  38.56400317
0    100.41317977  38.56408324
0    100.41318273  38.56408502
0    100.41329564  38.56415276
..            ...          ...
265  100.40038906  38.57481662
265  100.40029596  38.57471287
265  100.40017895  38.57462847
265  100.40026844  38.57454637
265  100.40007113  38.57439143

[9599 rows x 2 columns]

In [17]:
data = df.A.str.extract('Polygon \(\((.*)\)\)').loc[:,0].str.split(', ').explode().str.split(' ', expand=True, n=1)
data.to_csv("newd_data.csv", encoding='utf-8')

In [19]:
data.head()

              0            1
0  100.41370674  38.56406437
0  100.41363237  38.56400317
0  100.41317977  38.56408324
0  100.41318273  38.56408502
0  100.41329564  38.56415276

In [26]:
data1 = df.A.str.extract('Polygon \(\((.*?)\)\)')
data1.head()

                                                   0
0  100.41370674 38.56406437, 100.41363237 38.5640...
1  100.41387467 38.56421145, 100.41375073 38.5642...
2  100.40919049 38.56483822, 100.40927189 38.5647...
3  100.41287215 38.56624507, 100.41290267 38.5662...
4  100.41297341 38.56628901, 100.41295543 38.5662...

In [27]:
data1.to_csv("data1.csv", encoding='utf-8')

In [40]:
data2 = data1.loc[:,0].str.split(', ')
data2.head()

0    [100.41370674 38.56406437, 100.41363237 38.564...
1    [100.41387467 38.56421145, 100.41375073 38.564...
2    [100.40919049 38.56483822, 100.40927189 38.564...
3    [100.41287215 38.56624507, 100.41290267 38.566...
4    [100.41297341 38.56628901, 100.41295543 38.566...
Name: 0, dtype: object

In [41]:
data3 = data2.explode()
data3.head()

0    100.41370674 38.56406437
0    100.41363237 38.56400317
0    100.41317977 38.56408324
0    100.41318273 38.56408502
0    100.41329564 38.56415276
Name: 0, dtype: object

In [42]:
data3.head(15)

0    100.41370674 38.56406437
0    100.41363237 38.56400317
0    100.41317977 38.56408324
0    100.41318273 38.56408502
0    100.41329564 38.56415276
0    100.41330767 38.56416303
0    100.41342221 38.56426086
0    100.41354262 38.56436427
0    100.41364235 38.56434162
0    100.41365328 38.56427952
0     100.4137008 38.56408829
0    100.41370674 38.56406437
1    100.41387467 38.56421145
1    100.41375073 38.56420723
1    100.41369403 38.56428799
Name: 0, dtype: object

In [46]:
data4 = data3.str.split(" ", expand=True, n=1)
data4.head(15)

              0            1
0  100.41370674  38.56406437
0  100.41363237  38.56400317
0  100.41317977  38.56408324
0  100.41318273  38.56408502
0  100.41329564  38.56415276
0  100.41330767  38.56416303
0  100.41342221  38.56426086
0  100.41354262  38.56436427
0  100.41364235  38.56434162
0  100.41365328  38.56427952
0   100.4137008  38.56408829
0  100.41370674  38.56406437
1  100.41387467  38.56421145
1  100.41375073  38.56420723
1  100.41369403  38.56428799